
<div class="O_header">
  <div  class="box">
    <h3>пузырик</h3>
    <div  class="box2">
      <a href = 'https://t.me/buba_app'> <h3>канал</h3> </a>
      <a href = 'https://t.me/bubblebuba_bot'> <h3>бот</h3> </a>
    </div>
  </div>
</div>

<div class="C_main">
  <div class="W_1">
  <div class="backheaven back1"></div>

    <h1>расскажи,<br>что хорошего было сегодня</h1>
    <h3>создаем приложение&nbsp;&mdash; безопасное цифровое пространство, чтобы делать людей счастливее в&nbsp;моменте<br>
    <br>
    еще в&nbsp;конце тест на&nbsp;то, какое ты&nbsp;воспоминание</h3>
    <div class="A_Button" onClick="document.getElementById('W_5').scrollIntoView({ behavior: 'smooth' });">  <p>хочу!</p></div>
    <%= image_tag 'pic1.jpg' %>
  </div>

  <div class="W_2">
    <h1 class="head01">01</h1>
    <div class="text01">если ты испытываешь перманентную тревогу и&nbsp;страх</div>
    <h1 class="head02">02</h1>
    <div class="text02">хорошие моменты просто проходят мимо</div>
    <h1 class="head03">03</h1>
    <div class="text03">хочется убежать и&nbsp;исчезнуть навсегда</div>
  </div>

  <div class="W_3">
    <h1>расскажем и&nbsp;покажем,<br>что&nbsp;хорошее уже&nbsp;есть</h1>
    <h3>например, небо</h3>
    <%= image_tag 'pic2.png' %>
  </div>

  <div class="W_1" id = "W_5">
    <h1>сохраняй уже&nbsp;сейчас</h1>
    <h3>заходи в&nbsp;телеграм бота&nbsp;&mdash; там&nbsp;бесплатно тебя уже ждет тестик, какая ты&nbsp;эмоция и&nbsp;основной функицонал приложения<br></h3>
    <%= image_tag 'pic3.jpg' %>
    <a target="_blank" href="https://t.me/bubblebuba_bot">
       <div class="A_Button">  <p>тык!</p></div>
    </a>

    <h1>и&nbsp;подписывайся на&nbsp;канал,<br>чтобы быть в&nbsp;курсе</h1>
    <a target="_blank" href="https://t.me/buba_app">
      <div class="A_Button">  <p>тык в канал!</p></div>
    </a>
  </div>

  <div class="O_Footer">
    <p> пузырик, 2024-2025</p>
  </div>
  <div class="backheaven back2"></div>
</div>
