body {
  font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  /* overflow-x: hidden; */
}
h1,
h2,
h3,
p {
  color: white;
  text-align: center;
  line-height: 100%;
  margin: 0;
  font-weight: 300;
  // letter-spacing: 1px;
}
h1 {
  color: #ff52b7;
  text-align: center;
  text-shadow: 0px 0px 26.3px #ff52b7;
  font-family: 'Inter Tight';
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: 93%; /* 111.6px */
}

h2 {
}

h3 {
  font-size: 24px;
  color: #ff52b7;
  text-align: center;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  line-height: 104%; /* 52px */
}

p {
  font-size: 20px;
}

.backheaven {
  display: block;
  position: absolute;
  z-index: -100;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: url('back.jpg');
  background-size: cover;
  &.back2 {
    height: 90vh;
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
  }
}

.O_header {
  a {
    text-decoration: underline;
    text-decoration-color: #fff;
    &:hover {
      cursor: pointer;
      p {
        text-shadow: 0px 0px 6.7px rgba(255, 255, 255, 0.7);
      }
    }
  }
  h3 {
    padding-top: 1vh;
    color: #fff;
  }
  .box {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .box2 {
      display: flex;
      flex-direction: row;
      width: auto;
      gap: 80px;
    }
  }
  margin: 0;
  border: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
  background: linear-gradient(
    180deg,
    rgba(68, 149, 255, 0.7) 0%,
    rgba(68, 149, 255, 0) 100%
  );
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 60%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 60%
  );
}

.W_1,
.W_2,
.W_3,
.W_4,
.W_5 {
  min-height: 700px;
  width: 100%;
  position: relative;
  padding-top: 100px;
  /* padding-left: 20vw;
  padding-right: 20vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  overflow-x: clip;
}
.W_1 {
  padding-top: 200px;
}
.A_Button {
  transition: all 0.2s ease;
  display: flex;
  box-shadow: 0px 0px 12px 0px rgba(255, 82, 183, 0.6);
  display: flex;
  padding: 20px 24px;
  align-items: center;
  gap: 6px;
  border-radius: 300px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  background: #ff52b7;
  p {
    color: #fff;
    font-weight: 400;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 9.9px 0px #ff52b7;
    p {
      text-shadow: 0px 0px 6.7px rgba(255, 255, 255, 0.7);
    }
  }
}
.W_1 {
  img {
    margin-top: 100px;
    max-width: 1440px;
    width: 90vw;
    border-radius: 80px;
    box-shadow: 0px 9px 76.2px -4px rgba(24, 39, 75, 0.1);
  }
  h3 {
    width: 700px;
  }
  .A_Svg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    &.A_svg1 {
      background-image: url('A_svg1.svg');
      top: -50px;
      right: 0px;
    }
    &.A_svg2 {
      background-image: url('A_svg2.svg');
      top: 5vh;
      left: -20vh;
    }
  }
}
.W_2 {
  gap: 0px;
  margin-top: 10vh;
  height: 800px;
  margin-bottom: 100px;
  border-radius: 0px 0px 700px 700px;
  background: #fff;
  box-shadow: 0px 42px 68.7px 0px #fff inset,
    0px -112px 100px 0px rgba(255, 82, 183, 0.4) inset;
  .head01,
  .head02,
  .head03 {
    color: #dde6ee;
    box-shadow: none;
    text-shadow: none;
    display: block;
    position: relative;
    width: fit-content;

    &.head01 {
      left: -600px;
    }
    &.head02 {
      left: 100px;
      top: -100px;
      transform: rotate(-9.434deg);
    }
    &.head03 {
      left: -400px;
      transform: rotate(14.904deg);
    }
  }

  .text01,
  .text03,
  .text02 {
    color: #202020;
    width: 500px;
    text-align: center;
    font-size: 30px;
    display: flex;
    padding: 30px;
    margin: -3vw;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    background: radial-gradient(
        39.2% 37.04% at 50.12% 97.22%,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.3) 100%
      ),
      rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3.256px 57.872px 0px rgba(135, 150, 171, 0.46);
    backdrop-filter: blur(40px);
    &.text01 {
      transform: rotate(-10deg);
      left: -350px;
    }
    &.text02 {
      transform: rotate(5deg);
      left: 400px;
      top: -2vh;
    }
    &.text03 {
      transform: rotate(-5deg);
      left: -100px;
    }
  }
}
.W_3 {
  img {
    max-width: 1440px;
    width: 90vw;
  }
}
.W_4 {
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-bottom: 120px;
  .A_Img {
    position: absolute;
    width: 700px;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.A_Img1 {
      background-image: url('A_Img1.png');
      transform: rotate(-17deg);
      left: 100px;
      bottom: -200px;
    }
    &.A_Img2 {
      background-image: url('A_Img2.png');
      transform: rotate(-8deg);
      left: 23%;
      bottom: -400px;
    }
    &.A_Img3 {
      background-image: url('A_Img3.png');
      transform: rotate(4deg);
      right: 2%;
      bottom: -200px;
    }
    &.A_Img4 {
      background-image: url('A_Img4.png');
      transform: rotate(12deg);
      right: 15%;
      bottom: -400px;
    }
  }
  .C_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 1vh;
    .text01,
    .text02,
    .text03 {
      color: #4495ffb2;
      font-size: 30px;
      display: flex;
      padding: 20px 30px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      border-radius: 40px;
      border: 3px solid rgba(255, 255, 255, 0.7);
      background: radial-gradient(
          39.2% 37.04% at 50.12% 97.22%,
          rgba(255, 255, 255, 0.9) 0%,
          rgba(255, 255, 255, 0.3) 100%
        ),
        rgba(255, 255, 255, 0.8);
      box-shadow: 0px 3.256px 57.872px 0px rgba(135, 150, 171, 0.46);
      backdrop-filter: blur(40px);
      text-align: center;
    }
  }
}

.W_5 {
  box-sizing: border-box;
  gap: 100px;
  padding-top: 200px;
  .new_response {
    .A_Button {
      font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
      cursor: pointer;
    }
  }
  form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    input {
      width: 30vw;
      border-radius: 80.088px;
      background: #fff;
      box-shadow: 0px 6px 25.6px 0px rgba(75, 105, 140, 0.4),
        0px -11px 10.5px 2px rgba(255, 255, 255, 0.25) inset;
      padding: 30px;
      border: none;
      font-size: 20px;
    }
    input::placeholder {
      font-size: 20px;
      opacity: 0.5;
    }
    div {
      display: inline-flex;
      align-items: center;
      gap: 17px;
    }
  }
  .C_Texts {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px 20px;
    flex-wrap: wrap;
    .A_Text {
      color: white;
      text-align: center;
      display: flex;
      padding: 20px 30px;
      align-items: center;
      font-weight: 400;
      gap: 10px;
      border-radius: 50px;
      background: rgba(119, 181, 255, 0.5);
      backdrop-filter: blur(30px);
    }
  }
}

.C_main {
  position: relative;
}
.error-messages {
  text-align: center;
  color: white;
}

.O_Footer {
  padding-top: 25vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media all and (max-width: 2200px) {
  .W_4 {
    height: 450px;
    .A_Img {
      width: 600px;
      height: 600px;
    }

    & .A_Img {
      &.A_Img2 {
        left: 300px;
        bottom: -400px;
      }
    }
    & .A_Img {
      &.A_Img4 {
        right: 200px;
        bottom: -400px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text01 {
        left: -200px;
      }
      &.text02 {
        left: 300px;
      }
      &.text03 {
        top: -50px;
      }
    }
    & .head01,
    & .head02,
    & .head03 {
      &.head01 {
        left: -400px;
      }
    }
    .A_Img {
      width: 300px;
      height: 300px;
      &.A_Img2 {
        right: 400px;
        top: 70px;
      }
    }
  }
}

@media all and (max-width: 1761px) {
  .O_header {
    .box {
      width: 1080px;
    }
  }
  h1 {
    font-size: 70px;
  }
  h3 {
    font-size: 20px;
  }
  .W_1 {
    img {
      max-width: 1080px;
    }
  }
  .W_2 {
    border-radius: 300px;
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        left: -250px;
        top: -80px;
        transform: rotate(14.904deg);
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img2 {
        left: -100px;
        bottom: -100px;
        transform: rotate(8deg);
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        transform: rotate(-17deg);
        left: -100px;
        bottom: -350px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img4 {
        right: -100px;
        bottom: -200px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: -100px;
        bottom: -400px;
      }
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg1 {
        top: -50px;
        right: -200px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        left: 100px;
        top: 250px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img2 {
        right: 100px;
        top: 70px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head02 {
        left: 150px;
        top: -100px;
      }
    }
  }
  .W_3 {
    .A_Svg {
      width: 700px;
      height: 700px;
    }
  }
  .W_3 {
    .A_svg3 {
      top: -300px;
    }
  }
}
@media all and (max-width: 1420px) {
  .W_3 {
    .A_svg4 {
      left: -200px;
    }
  }
  .W_3 {
    .A_svg3 {
      right: -200px;
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        left: 100px;
        bottom: -300px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img4 {
        right: -200px;
        bottom: -100px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: 50px;
        bottom: -250px;
        z-index: 1;
      }
    }
  }
  .W_5 {
    padding-top: 90px;
    & form {
      input {
        width: 600px;
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .O_header {
    .box {
      width: 900px;
    }
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 15px;
  }
  .W_1 {
    img {
      max-width: 900px;
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        left: -100px;
        top: -100px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        top: 350px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        left: 20px;
        bottom: -250px;
        z-index: 1;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        bottom: -500px;
        right: -50px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text02 {
        left: 200px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        left: -150px;
        top: -100px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img4 {
        right: -300px;
        bottom: -100px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img2 {
        left: -100px;
        bottom: -230px;
        transform: rotate(8deg);
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        left: 100px;
        bottom: -300px;
        z-index: 1;
      }
    }
  }
  .W_5 {
    padding-top: 300px !important;
  }
}
@media all and (max-width: 1000px) {
  h1 {
    font-size: 110px;
    width: 80%;
  }
  .W_1,
  .W_2,
  .W_3,
  .W_4,
  .W_5 {
    padding-top: 200px;
  }
  .W_1 {
    h3 {
      width: 500px;
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        left: -400px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img2 {
        right: 50px;
        top: 70px;
      }
    }
  }
  h3 {
    font-size: 25px;
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text03 {
        top: 50px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        top: 500px;
        left: 50px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head02 {
        left: -100px;
        top: 30px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        left: -60px;
        top: 20px;
      }
    }
  }
  .W_3 {
    .A_svg4 {
      top: 300px;
      left: -300px;
    }
  }
  .W_4 {
    height: 900px;
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: -150px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: -150px;
        bottom: -400px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img2 {
        bottom: -100px;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .O_header {
    .box {
      width: 600px;
    }
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 15px;
  }
  .W_1 {
    img {
      max-width: 600px;
    }
  }
  .W_4 {
    height: 1000px;
  }
  .W_1 {
    .A_Svg {
      width: 600px;
      height: 600px;
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg1 {
        top: -100px;
        right: -100px;
      }
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        left: -200px;
        top: 300px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head01 {
        left: -300px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text01 {
        left: -100px;
      }
    }
  }
  .W_2 {
    height: 1000px;
  }

  .W_3 {
    .A_svg4 {
      top: 200px;
      left: -200px;
    }
  }
  .W_3 {
    .A_svg3 {
      top: -200px;
    }
  }
  .W_5 {
    & .C_Texts {
      .A_Text {
        font-size: 20px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text02 {
        left: 150px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head02 {
        left: -160px;
        top: 30px;
      }
    }
  }
}
@media all and (max-width: 780px) {
  .W_1 {
    img {
      margin-top: 20px;
      height: 60vh;
      object-fit: cover;
      border-radius: 40px;
    }
  }
  p {
    font-size: 14px;
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        top: 400px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text02 {
        left: auto;
        right: -100px;
        top: 50px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head02 {
        left: 100px;
        top: 10px;
      }
    }
  }
  .W_2 {
    height: 1200px;
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text03 {
        top: 150px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        left: 200px;
        top: 150px;
      }
    }
  }
  .W_3 {
    height: 800px;
  }
  .W_3 {
    .A_svg4 {
      top: 400px;
      left: -200px;
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: -150px;
        bottom: -550px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img2 {
        left: -10px;
        bottom: -50px;
      }
    }
  }
  .W_5 {
    & form {
      input {
        width: 500px;
      }
    }
  }
  .W_5 {
    & form {
      div {
        flex-direction: column;
      }
    }
  }
  .W_1 {
    padding-top: 250px;
  }
}
@media all and (max-width: 701px) {
  .W_2 {
    .text01,
    .text03,
    .text02 {
      width: 400px;
    }
    & .head01,
    & .head02,
    & .head03 {
      right: auto !important;
      left: auto !important;
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head01 {
        top: -60px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img2 {
        right: -70px;
        top: 200px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        top: 500px;
        left: -50px;
      }
    }
  }
  .W_2 {
    & .head01,
    & .head02,
    & .head03 {
      &.head03 {
        top: 100px;
      }
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      font-size: 20px;
      &.text03 {
        left: -50px;
      }
    }
  }
  .W_3 {
    .A_Svg {
      width: 500px;
      height: 500px;
    }
  }
  .W_3 {
    .A_svg4 {
      top: 450px;
      left: -100px;
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        left: -30px;
        bottom: -350px;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 605px) {
  .W_4 {
    height: 1200px;
  }
  .W_1 {
    h3 {
      width: 400px;
    }
  }
  .W_2 {
    .text01,
    .text03,
    .text02 {
      width: 350px;
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        top: 700px;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img1 {
        left: -30px;
        bottom: -300px;
        z-index: 1;
      }
    }
  }
  .W_4 {
    & .A_Img {
      &.A_Img4 {
        right: -300px;
        bottom: 200px;
      }
    }
  }
  .W_5 {
    & form {
      input {
        width: 400px;
      }
    }
  }
}

@media (max-width: 500px) {
  .backheaven {
    height: 40vh;
  }
  .backheaven.back2 {
    height: 50vh;
  }

  .O_header {
    .box {
      justify-content: center;
      .box2 {
        display: none;
      }
    }
  }
  .W_1,
  .W_2,
  .W_3,
  .W_4,
  .W_5 {
    padding-top: 100px;
  }
  .W_3 {
    padding-top: 0px;
    min-height: 300px;
    height: 600px;
    img {
      width: 100vw;
      height: 50vh;
      object-fit: cover;
    }
  }

  .W_5 {
    & form {
      input {
        width: 320px;
      }
    }
  }
  .W_5 {
    gap: 20px;
  }

  .W_4 {
    .C_text {
      width: 360px;
    }
  }
  .W_4 {
    height: 1300px;
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      font-size: 14px;
      &.text01 {
        left: auto;
        top: -40px;
        font-size: 14px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img2 {
        right: -100px;
        top: -100px;
      }
    }
  }
  .W_1 {
    height: 1200px;
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        top: 1000px;
        left: 100px;
      }
    }
  }
  .W_2 {
    height: 800px;
    border-radius: 0 0 100px 100px;
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text02 {
        left: auto;
        right: auto;
      }
    }
  }

  .W_2 {
    .text01,
    .text03,
    .text02 {
      width: 260px;
    }
  }
  .W_2 {
    & .text01,
    & .text03,
    & .text02 {
      &.text03 {
        left: auto;
      }
    }
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        top: 900px;
      }
    }
  }

  .W_4 {
    & .C_text {
      .text01,
      .text02,
      .text03 {
        width: 260px;
      }
    }
  }
  .W_5 {
    & form {
      input {
        padding: 20px;
      }
    }
  }
}
@media (max-width: 500px) {
  .W_4 {
    & .A_Img {
      &.A_Img3 {
        right: -250px;
      }
    }
  }
  .W_2 {
    & .A_Img {
      &.A_Img1 {
        left: 50px;
      }
    }
  }
  .W_1 {
    h3 {
      width: 300px;
    }
  }
}
@media (max-width: 500px) {
  .W_1 {
    padding-top: 100px;
  }
  .W_1 {
    height: 900px;
  }
  .W_1 {
    & .A_Svg {
      &.A_svg2 {
        top: 500px;
      }
    }
  }
}
